.headerContainer {
  height: 105px;
  padding: 0 28px;
}

.headerContent {
  height: 100%;
  max-width: 720px;
  margin: 0 auto;

  display: flex;
  align-items: center;

  img:hover {
    cursor: pointer;
  }
}
